Desktop/Felipe/RepLocal/repLocal/ClienteProyecto/web/WEB-INF/wsdl/localhost_8080/ServicioProyecto/Servicio.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://capaServicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://capaServicio/" name="Servicio">
<types>
<xsd:schema>
<xsd:import namespace="http://capaServicio/" schemaLocation="http://localhost:8080/ServicioProyecto/Servicio?xsd=1"/>
</xsd:schema>
</types>
<message name="busquedaAvanzadaContactoServicioWeb">
<part name="parameters" element="tns:busquedaAvanzadaContactoServicioWeb"/>
</message>
<message name="busquedaAvanzadaContactoServicioWebResponse">
<part name="parameters" element="tns:busquedaAvanzadaContactoServicioWebResponse"/>
</message>
<message name="busquedaAvanzadaGrupoContactoServicioWeb">
<part name="parameters" element="tns:busquedaAvanzadaGrupoContactoServicioWeb"/>
</message>
<message name="busquedaAvanzadaGrupoContactoServicioWebResponse">
<part name="parameters" element="tns:busquedaAvanzadaGrupoContactoServicioWebResponse"/>
</message>
<message name="busquedaSimpleGrupoContactoServicioWeb">
<part name="parameters" element="tns:busquedaSimpleGrupoContactoServicioWeb"/>
</message>
<message name="busquedaSimpleGrupoContactoServicioWebResponse">
<part name="parameters" element="tns:busquedaSimpleGrupoContactoServicioWebResponse"/>
</message>
<message name="busquedaSimpleContactoServicioWeb">
<part name="parameters" element="tns:busquedaSimpleContactoServicioWeb"/>
</message>
<message name="busquedaSimpleContactoServicioWebResponse">
<part name="parameters" element="tns:busquedaSimpleContactoServicioWebResponse"/>
</message>
<message name="agregarActividadAGrupoServicioWeb">
<part name="parameters" element="tns:agregarActividadAGrupoServicioWeb"/>
</message>
<message name="agregarActividadAGrupoServicioWebResponse">
<part name="parameters" element="tns:agregarActividadAGrupoServicioWebResponse"/>
</message>
<message name="PersistentException">
<part name="fault" element="tns:PersistentException"/>
</message>
<message name="agregarNotificacionAGrupoServicioWeb">
<part name="parameters" element="tns:agregarNotificacionAGrupoServicioWeb"/>
</message>
<message name="agregarNotificacionAGrupoServicioWebResponse">
<part name="parameters" element="tns:agregarNotificacionAGrupoServicioWebResponse"/>
</message>
<message name="verLecturasNotificacionServicioWeb">
<part name="parameters" element="tns:verLecturasNotificacionServicioWeb"/>
</message>
<message name="verLecturasNotificacionServicioWebResponse">
<part name="parameters" element="tns:verLecturasNotificacionServicioWebResponse"/>
</message>
<message name="agregarContactoServicioWeb">
<part name="parameters" element="tns:agregarContactoServicioWeb"/>
</message>
<message name="agregarContactoServicioWebResponse">
<part name="parameters" element="tns:agregarContactoServicioWebResponse"/>
</message>
<message name="editarContactoServicioWeb">
<part name="parameters" element="tns:editarContactoServicioWeb"/>
</message>
<message name="editarContactoServicioWebResponse">
<part name="parameters" element="tns:editarContactoServicioWebResponse"/>
</message>
<message name="eliminarContactoServicioWeb">
<part name="parameters" element="tns:eliminarContactoServicioWeb"/>
</message>
<message name="eliminarContactoServicioWebResponse">
<part name="parameters" element="tns:eliminarContactoServicioWebResponse"/>
</message>
<message name="editarGrupoContactoServicioWeb">
<part name="parameters" element="tns:editarGrupoContactoServicioWeb"/>
</message>
<message name="editarGrupoContactoServicioWebResponse">
<part name="parameters" element="tns:editarGrupoContactoServicioWebResponse"/>
</message>
<message name="eliminarGrupoContactoServicioWeb">
<part name="parameters" element="tns:eliminarGrupoContactoServicioWeb"/>
</message>
<message name="eliminarGrupoContactoServicioWebResponse">
<part name="parameters" element="tns:eliminarGrupoContactoServicioWebResponse"/>
</message>
<message name="inscribirContactoServicioWeb">
<part name="parameters" element="tns:inscribirContactoServicioWeb"/>
</message>
<message name="inscribirContactoServicioWebResponse">
<part name="parameters" element="tns:inscribirContactoServicioWebResponse"/>
</message>
<message name="agregarGrupoContactoServicioWeb">
<part name="parameters" element="tns:agregarGrupoContactoServicioWeb"/>
</message>
<message name="agregarGrupoContactoServicioWebResponse">
<part name="parameters" element="tns:agregarGrupoContactoServicioWebResponse"/>
</message>
<message name="gruposDeContactoServicioWeb">
<part name="parameters" element="tns:gruposDeContactoServicioWeb"/>
</message>
<message name="gruposDeContactoServicioWebResponse">
<part name="parameters" element="tns:gruposDeContactoServicioWebResponse"/>
</message>
<message name="verLecturasActividadServicioWeb">
<part name="parameters" element="tns:verLecturasActividadServicioWeb"/>
</message>
<message name="verLecturasActividadServicioWebResponse">
<part name="parameters" element="tns:verLecturasActividadServicioWebResponse"/>
</message>
<message name="miembrosDeGrupoServicioWeb">
<part name="parameters" element="tns:miembrosDeGrupoServicioWeb"/>
</message>
<message name="miembrosDeGrupoServicioWebResponse">
<part name="parameters" element="tns:miembrosDeGrupoServicioWebResponse"/>
</message>
<message name="buscarActividadesServicioWeb">
<part name="parameters" element="tns:buscarActividadesServicioWeb"/>
</message>
<message name="buscarActividadesServicioWebResponse">
<part name="parameters" element="tns:buscarActividadesServicioWebResponse"/>
</message>
<message name="buscarNotificacionesServicioWeb">
<part name="parameters" element="tns:buscarNotificacionesServicioWeb"/>
</message>
<message name="buscarNotificacionesServicioWebResponse">
<part name="parameters" element="tns:buscarNotificacionesServicioWebResponse"/>
</message>
<message name="leerActividadServicioWeb">
<part name="parameters" element="tns:leerActividadServicioWeb"/>
</message>
<message name="leerActividadServicioWebResponse">
<part name="parameters" element="tns:leerActividadServicioWebResponse"/>
</message>
<message name="leerNotificacionServicioWeb">
<part name="parameters" element="tns:leerNotificacionServicioWeb"/>
</message>
<message name="leerNotificacionServicioWebResponse">
<part name="parameters" element="tns:leerNotificacionServicioWebResponse"/>
</message>
<portType name="Servicio">
<operation name="busquedaAvanzadaContactoServicioWeb">
<input wsam:Action="http://capaServicio/Servicio/busquedaAvanzadaContactoServicioWebRequest" message="tns:busquedaAvanzadaContactoServicioWeb"/>
<output wsam:Action="http://capaServicio/Servicio/busquedaAvanzadaContactoServicioWebResponse" message="tns:busquedaAvanzadaContactoServicioWebResponse"/>
</operation>
<operation name="busquedaAvanzadaGrupoContactoServicioWeb">
<input wsam:Action="http://capaServicio/Servicio/busquedaAvanzadaGrupoContactoServicioWebRequest" message="tns:busquedaAvanzadaGrupoContactoServicioWeb"/>
<output wsam:Action="http://capaServicio/Servicio/busquedaAvanzadaGrupoContactoServicioWebResponse" message="tns:busquedaAvanzadaGrupoContactoServicioWebResponse"/>
</operation>
<operation name="busquedaSimpleGrupoContactoServicioWeb">
<input wsam:Action="http://capaServicio/Servicio/busquedaSimpleGrupoContactoServicioWebRequest" message="tns:busquedaSimpleGrupoContactoServicioWeb"/>
<output wsam:Action="http://capaServicio/Servicio/busquedaSimpleGrupoContactoServicioWebResponse" message="tns:busquedaSimpleGrupoContactoServicioWebResponse"/>
</operation>
<operation name="busquedaSimpleContactoServicioWeb">
<input wsam:Action="http://capaServicio/Servicio/busquedaSimpleContactoServicioWebRequest" message="tns:busquedaSimpleContactoServicioWeb"/>
<output wsam:Action="http://capaServicio/Servicio/busquedaSimpleContactoServicioWebResponse" message="tns:busquedaSimpleContactoServicioWebResponse"/>
</operation>
<operation name="agregarActividadAGrupoServicioWeb">
<input wsam:Action="http://capaServicio/Servicio/agregarActividadAGrupoServicioWebRequest" message="tns:agregarActividadAGrupoServicioWeb"/>
<output wsam:Action="http://capaServicio/Servicio/agregarActividadAGrupoServicioWebResponse" message="tns:agregarActividadAGrupoServicioWebResponse"/>
<fault message="tns:PersistentException" name="PersistentException" wsam:Action="http://capaServicio/Servicio/agregarActividadAGrupoServicioWeb/Fault/PersistentException"/>
</operation>
<operation name="agregarNotificacionAGrupoServicioWeb">
<input wsam:Action="http://capaServicio/Servicio/agregarNotificacionAGrupoServicioWebRequest" message="tns:agregarNotificacionAGrupoServicioWeb"/>
<output wsam:Action="http://capaServicio/Servicio/agregarNotificacionAGrupoServicioWebResponse" message="tns:agregarNotificacionAGrupoServicioWebResponse"/>
<fault message="tns:PersistentException" name="PersistentException" wsam:Action="http://capaServicio/Servicio/agregarNotificacionAGrupoServicioWeb/Fault/PersistentException"/>
</operation>
<operation name="verLecturasNotificacionServicioWeb">
<input wsam:Action="http://capaServicio/Servicio/verLecturasNotificacionServicioWebRequest" message="tns:verLecturasNotificacionServicioWeb"/>
<output wsam:Action="http://capaServicio/Servicio/verLecturasNotificacionServicioWebResponse" message="tns:verLecturasNotificacionServicioWebResponse"/>
<fault message="tns:PersistentException" name="PersistentException" wsam:Action="http://capaServicio/Servicio/verLecturasNotificacionServicioWeb/Fault/PersistentException"/>
</operation>
<operation name="agregarContactoServicioWeb">
<input wsam:Action="http://capaServicio/Servicio/agregarContactoServicioWebRequest" message="tns:agregarContactoServicioWeb"/>
<output wsam:Action="http://capaServicio/Servicio/agregarContactoServicioWebResponse" message="tns:agregarContactoServicioWebResponse"/>
</operation>
<operation name="editarContactoServicioWeb">
<input wsam:Action="http://capaServicio/Servicio/editarContactoServicioWebRequest" message="tns:editarContactoServicioWeb"/>
<output wsam:Action="http://capaServicio/Servicio/editarContactoServicioWebResponse" message="tns:editarContactoServicioWebResponse"/>
</operation>
<operation name="eliminarContactoServicioWeb">
<input wsam:Action="http://capaServicio/Servicio/eliminarContactoServicioWebRequest" message="tns:eliminarContactoServicioWeb"/>
<output wsam:Action="http://capaServicio/Servicio/eliminarContactoServicioWebResponse" message="tns:eliminarContactoServicioWebResponse"/>
</operation>
<operation name="editarGrupoContactoServicioWeb">
<input wsam:Action="http://capaServicio/Servicio/editarGrupoContactoServicioWebRequest" message="tns:editarGrupoContactoServicioWeb"/>
<output wsam:Action="http://capaServicio/Servicio/editarGrupoContactoServicioWebResponse" message="tns:editarGrupoContactoServicioWebResponse"/>
</operation>
<operation name="eliminarGrupoContactoServicioWeb">
<input wsam:Action="http://capaServicio/Servicio/eliminarGrupoContactoServicioWebRequest" message="tns:eliminarGrupoContactoServicioWeb"/>
<output wsam:Action="http://capaServicio/Servicio/eliminarGrupoContactoServicioWebResponse" message="tns:eliminarGrupoContactoServicioWebResponse"/>
</operation>
<operation name="inscribirContactoServicioWeb">
<input wsam:Action="http://capaServicio/Servicio/inscribirContactoServicioWebRequest" message="tns:inscribirContactoServicioWeb"/>
<output wsam:Action="http://capaServicio/Servicio/inscribirContactoServicioWebResponse" message="tns:inscribirContactoServicioWebResponse"/>
<fault message="tns:PersistentException" name="PersistentException" wsam:Action="http://capaServicio/Servicio/inscribirContactoServicioWeb/Fault/PersistentException"/>
</operation>
<operation name="agregarGrupoContactoServicioWeb">
<input wsam:Action="http://capaServicio/Servicio/agregarGrupoContactoServicioWebRequest" message="tns:agregarGrupoContactoServicioWeb"/>
<output wsam:Action="http://capaServicio/Servicio/agregarGrupoContactoServicioWebResponse" message="tns:agregarGrupoContactoServicioWebResponse"/>
</operation>
<operation name="gruposDeContactoServicioWeb">
<input wsam:Action="http://capaServicio/Servicio/gruposDeContactoServicioWebRequest" message="tns:gruposDeContactoServicioWeb"/>
<output wsam:Action="http://capaServicio/Servicio/gruposDeContactoServicioWebResponse" message="tns:gruposDeContactoServicioWebResponse"/>
<fault message="tns:PersistentException" name="PersistentException" wsam:Action="http://capaServicio/Servicio/gruposDeContactoServicioWeb/Fault/PersistentException"/>
</operation>
<operation name="verLecturasActividadServicioWeb">
<input wsam:Action="http://capaServicio/Servicio/verLecturasActividadServicioWebRequest" message="tns:verLecturasActividadServicioWeb"/>
<output wsam:Action="http://capaServicio/Servicio/verLecturasActividadServicioWebResponse" message="tns:verLecturasActividadServicioWebResponse"/>
<fault message="tns:PersistentException" name="PersistentException" wsam:Action="http://capaServicio/Servicio/verLecturasActividadServicioWeb/Fault/PersistentException"/>
</operation>
<operation name="miembrosDeGrupoServicioWeb">
<input wsam:Action="http://capaServicio/Servicio/miembrosDeGrupoServicioWebRequest" message="tns:miembrosDeGrupoServicioWeb"/>
<output wsam:Action="http://capaServicio/Servicio/miembrosDeGrupoServicioWebResponse" message="tns:miembrosDeGrupoServicioWebResponse"/>
<fault message="tns:PersistentException" name="PersistentException" wsam:Action="http://capaServicio/Servicio/miembrosDeGrupoServicioWeb/Fault/PersistentException"/>
</operation>
<operation name="buscarActividadesServicioWeb">
<input wsam:Action="http://capaServicio/Servicio/buscarActividadesServicioWebRequest" message="tns:buscarActividadesServicioWeb"/>
<output wsam:Action="http://capaServicio/Servicio/buscarActividadesServicioWebResponse" message="tns:buscarActividadesServicioWebResponse"/>
<fault message="tns:PersistentException" name="PersistentException" wsam:Action="http://capaServicio/Servicio/buscarActividadesServicioWeb/Fault/PersistentException"/>
</operation>
<operation name="buscarNotificacionesServicioWeb">
<input wsam:Action="http://capaServicio/Servicio/buscarNotificacionesServicioWebRequest" message="tns:buscarNotificacionesServicioWeb"/>
<output wsam:Action="http://capaServicio/Servicio/buscarNotificacionesServicioWebResponse" message="tns:buscarNotificacionesServicioWebResponse"/>
<fault message="tns:PersistentException" name="PersistentException" wsam:Action="http://capaServicio/Servicio/buscarNotificacionesServicioWeb/Fault/PersistentException"/>
</operation>
<operation name="leerActividadServicioWeb">
<input wsam:Action="http://capaServicio/Servicio/leerActividadServicioWebRequest" message="tns:leerActividadServicioWeb"/>
<output wsam:Action="http://capaServicio/Servicio/leerActividadServicioWebResponse" message="tns:leerActividadServicioWebResponse"/>
<fault message="tns:PersistentException" name="PersistentException" wsam:Action="http://capaServicio/Servicio/leerActividadServicioWeb/Fault/PersistentException"/>
</operation>
<operation name="leerNotificacionServicioWeb">
<input wsam:Action="http://capaServicio/Servicio/leerNotificacionServicioWebRequest" message="tns:leerNotificacionServicioWeb"/>
<output wsam:Action="http://capaServicio/Servicio/leerNotificacionServicioWebResponse" message="tns:leerNotificacionServicioWebResponse"/>
<fault message="tns:PersistentException" name="PersistentException" wsam:Action="http://capaServicio/Servicio/leerNotificacionServicioWeb/Fault/PersistentException"/>
</operation>
</portType>
<binding name="ServicioPortBinding" type="tns:Servicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="busquedaAvanzadaContactoServicioWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="busquedaAvanzadaGrupoContactoServicioWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="busquedaSimpleGrupoContactoServicioWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="busquedaSimpleContactoServicioWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarActividadAGrupoServicioWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PersistentException">
<soap:fault name="PersistentException" use="literal"/>
</fault>
</operation>
<operation name="agregarNotificacionAGrupoServicioWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PersistentException">
<soap:fault name="PersistentException" use="literal"/>
</fault>
</operation>
<operation name="verLecturasNotificacionServicioWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PersistentException">
<soap:fault name="PersistentException" use="literal"/>
</fault>
</operation>
<operation name="agregarContactoServicioWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarContactoServicioWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarContactoServicioWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarGrupoContactoServicioWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarGrupoContactoServicioWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inscribirContactoServicioWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PersistentException">
<soap:fault name="PersistentException" use="literal"/>
</fault>
</operation>
<operation name="agregarGrupoContactoServicioWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="gruposDeContactoServicioWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PersistentException">
<soap:fault name="PersistentException" use="literal"/>
</fault>
</operation>
<operation name="verLecturasActividadServicioWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PersistentException">
<soap:fault name="PersistentException" use="literal"/>
</fault>
</operation>
<operation name="miembrosDeGrupoServicioWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PersistentException">
<soap:fault name="PersistentException" use="literal"/>
</fault>
</operation>
<operation name="buscarActividadesServicioWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PersistentException">
<soap:fault name="PersistentException" use="literal"/>
</fault>
</operation>
<operation name="buscarNotificacionesServicioWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PersistentException">
<soap:fault name="PersistentException" use="literal"/>
</fault>
</operation>
<operation name="leerActividadServicioWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PersistentException">
<soap:fault name="PersistentException" use="literal"/>
</fault>
</operation>
<operation name="leerNotificacionServicioWeb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PersistentException">
<soap:fault name="PersistentException" use="literal"/>
</fault>
</operation>
</binding>
<service name="Servicio">
<port name="ServicioPort" binding="tns:ServicioPortBinding">
<soap:address location="http://localhost:8080/ServicioProyecto/Servicio"/>
</port>
</service>
</definitions>